{% assign height=600 %}

<h2>Projected Salary Costs by Month</h2>
<div id="stackedbardevdays" style="width:auto;height:{{height}};"></div>    
<script>


    {%- for project in site.data.projects -%}
        var trace_{{project.projectid | slugify | remove: "-"}} ={
        {% assign projdata = site.data.projectcostbymonth | where: "ProjectId", project.projectid %}

        x: [
            {%- for month in site.data.months -%}
                '{{month.DateStr}}'
                {%- if forloop.last==false -%},{%- endif -%}
            {%- endfor -%}
        ],

        y: [
            {%- for pd in projdata -%}
                {{pd.ProjectCost}}
                {%- if forloop.last==false -%},{%- endif -%}
            {%- endfor -%}
        ],

        name: '{{project.projectname}}',
        marker: { color: '{{project.projectcolour}}'},
        type: 'bar',

    };
    {% endfor %}

    var data = [
        {%- for project in site.data.projects reversed -%}
            trace_{{project.projectid | slugify | remove: "-"}}
            {%- if forloop.last==false -%},{%- endif -%}
        {%- endfor -%}
    ];


    var layout = {
            title: 'Projected Salary Costs ($)',
        xaxis: {tickfont: {
            size: 14,
            color: 'rgb(107, 107, 107)'
            }},
        yaxis: {
            title: 'NZD',
            titlefont: {
            size: 16,
            color: 'rgb(107, 107, 107)'
            },
            tickfont: {
            size: 14,
            color: 'rgb(107, 107, 107)'
            },
        
        },
        barmode: 'stack',
        height: {{height}},
    };
    Plotly.newPlot('stackedbardevdays', data, layout);
</script>
