{% assign height=800 %}

<div id="pwt_totalprojectcostpie" style="width:auto;height:{{height}};"></div>    
<script>

var pwt_colorlist = [
        {%- for project in site.data.projectcosttotal -%}
            '{{project.ProjectColour}}'
            {%- if forloop.last==false -%},{%- endif -%}
        {%- endfor -%}    
];

var pwt_datapie = [{

    values: [
        {%- for project in site.data.projectcosttotal -%}
            {{project.Cost}}
            {%- if forloop.last==false -%},{%- endif -%}
        {%- endfor -%}
    ],

    labels: [
        {%- for project in site.data.projectcosttotal -%}
            '{{project.ProjectName}}'
            {%- if forloop.last==false -%},{%- endif -%}
        {%- endfor -%}
    ],

    text: [
        {%- for project in site.data.projectcosttotal -%}
            '{{project.TextLabel}}'
            {%- if forloop.last==false -%},{%- endif -%}
        {%- endfor -%}
    ],

    type: 'pie',
    textinfo: "text",
    <!--hoverinfo: "label+value+percent",-->
    hovertemplate: '<b>%{label}</b><br>'+
        '%{value:$,.0f}<br>'+
        '%{percent}',
    automargin: true,
    marker: {
        colors: pwt_colorlist
    }
}];

var pwt_layoutpie = {
    title: 'Projected Salary Cost Remaining ($)',
    margin: {"t": 100, "b": 100, "l": 100, "r": 100},
    height: {{height}},
};

Plotly.newPlot('pwt_totalprojectcostpie',pwt_datapie,pwt_layoutpie);
</script>

