{% assign height=600 %}

<div id="stackedbarBAU" style="width:auto;height:{{height}};"></div>    
<script>

{% for pt in site.data.projecttypes %}
    {% assign plist = site.data.projecttypepercents | where: "TypeNum", pt.TypeNum %}

    var BAU_trace_{{pt.TypeNum}} ={
        type: 'bar',
        marker: {color: '{{pt.TypeColour}}'},
        name: '{{pt.TypeName}}',

        x: [
            {%- for plv in plist -%}
                '{{plv.DateStr}}'
                {%- if forloop.last==false -%},{%- endif -%}
            {%- endfor -%}
        ],

        y: [
            {%- for plv in plist -%}
                {{plv.Percentage}}
                {%- if forloop.last==false -%},{%- endif -%}
            {%- endfor -%}            
        ],

        text: [
            {%- for plv in plist -%}
                '{{plv.Label}}'
                {%- if forloop.last==false -%},{%- endif -%}
            {%- endfor -%}   
        ],

    };
{% endfor %}

var BAU_data = [
    {%- for pt in site.data.projecttypes -%}  
        BAU_trace_{{pt.TypeNum}} 
        {%- if forloop.last==false -%},{%- endif -%}
    {%- endfor -%}
];

var BAU_layout = {
    title: 'Projected BAU versus New',
    xaxis: {tickfont: {
        size: 14,
        color: 'rgb(107, 107, 107)'
        }},
    yaxis: {
        title: 'Percent',
        titlefont: {
            size: 16,
            color: 'rgb(107, 107, 107)'
            },
        tickfont: {
            size: 14,
            color: 'rgb(107, 107, 107)'
            },
        },
    barmode: 'stack',
    height: {{height}},
};
Plotly.newPlot('stackedbarBAU', BAU_data, BAU_layout);
</script>
